<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Inventory Tracker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../static/styles.css?ver=90">
    <script>
    </script>
</head>
<body>
    <div class="header_section center">
        <div class="title_subtitle">
            <h1 id="title">Inventory Tracker</h1>
            <h3 id="subtitle">Shopify Fall 2022 Backend Technical Challenge</h3>
        </div>
        <div class="add_btns">
            <form>
                <button type="submit" formaction="{{ url_for('add_inventory') }}"
                       class="navbar_btn">Add Inventory</button>
            </form> 
            <button type="submit" class="navbar_btn" name="phone" onclick="openForm()">Add Warehouse</button>
            
            <div class="form-popup" id="myForm">
                <form class="form-container">
                  <h2 class="label_att">Add Warehouse</h2>
                  <input id="add_ware_att"type="text" placeholder="Enter Warehouse Location" name="email" required>
                  <button type="submit" class="btn" onclick="save_warehouse();">Save</button>
                  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>
        </div>
    </div>
    <div id="card_list">
    </div>
    <script>
        $(document).ready(function(){
            load_inventory_list()
        });

        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }

        function load_inventory_list(){
            $.ajax({
                type: "GET",
                url: "/api/get_inventory_list",
                data: {},
                success: function(response){
                    let inventory_list = response['inventory_list']
                    for (let i = 0; i < inventory_list.length; i++) {
                       let inventory = inventory_list[i]
                       let id = inventory['_id']
                       let name = inventory['name']
                       let description = inventory['description']
                       let manufacturer = inventory['manufacturer']
                       let model = inventory['model']
                       let barcode = inventory['barcode']
                       let serial_number = inventory['serial_number']
                       let category = inventory['category']
                       let warehouse_location = inventory['warehouse_location']
                       let quantity = inventory['quantity']
                       let purchase_price = inventory['purchase_price']
                       let purchase_date = inventory['purchase_date']
                       let notes = inventory['notes']
                       let tempHtml = `
                       <div class="card">
                        <div class="inventory-content">
                            <p class="detail_att">Name: ${name}</p>
                            <p class="detail_att">Quantity: ${quantity}</p>
                            <p class="detail_att">Serial Number: ${serial_number}</p>
                            <p class="detail_att">Warehouse Location: ${warehouse_location}</p>
                        </div>
                        <button class="navbar_btn3" id="myBtn${i}" name="modal" onclick="modal_play(${i});">Detail</button>
                        <!-- The Modal -->
                        <div id="myModal${i}" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                            <span class="close" onclick="modal_close(${i});">&times;</span>
                                <p class="detail_att">Name: ${name}</p> 
                                <p class="detail_att">Description: ${description}</p>
                                <p class="detail_att">Manufacturer: ${manufacturer}</p>
                                <p class="detail_att">Model: ${model}</p>
                                <p class="detail_att">Barcode: ${barcode}</p>
                                <p class="detail_att">Serial Number: ${serial_number}</p>
                                <p class="detail_att">Category: ${category}</p>
                                <p class="detail_att">Warehouse Location: ${warehouse_location}</p>
                                <p class="detail_att">Quantity: ${quantity}</p>
                                <p class="detail_att">Purchase Price: ${purchase_price}</p>
                                <p class="detail_att">Purchase Date: ${purchase_date}</p>
                                <p class="detail_att">Notes: ${notes}</p>
                            </div>
                        </div> 
                        <button class="navbar_btn3" name="${id}" onclick="edit_inventory(this.name);">Edit</button>
                        <button class="navbar_btn4" name="${id}" onclick="remove_inventory(this.name);">Delete</button>
                    </div>`
                       $('#card_list').append(tempHtml)
                    }
                }
            })
        }
        


        function save_warehouse() {
                let warehouse = $('#add_ware_att').val(); 
                if (warehouse == "") {
                    alert('Please enter warehouse location')
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/api/add_warehouse",
                        data: {
                            warehouse_give: warehouse,
                        },
                        success: function (response) {
                            if (response['result'] == 'success') {
                                alert('Saved the warehouse location you entered')
                                window.location.href = '/'
                            } else if (response['result'] == 'taken') {
                                alert(response['msg'])
                            } else {
                                alert('error')
                            }
                        }
                    })
                }
        }

        function modal_play(i) {
            var modal = document.getElementById("myModal"+i);
            modal.style.display = "block";
        }

        function modal_close(i) {
            var modal = document.getElementById("myModal"+i);
            modal.style.display = "none";
        }

         

        function edit_inventory(id) {
            let query_params = `?id=${id}`
            window.location.href = "{{ url_for('edit_inventory') }}" + query_params;
        }

        function remove_inventory(id) {
            $.ajax({
                type: "DELETE",
                url: "/api/delete_inventory",
                data: {'id_give': id},
                success: function (response) {
                    if (response['result'] == 'success') {
                            alert('Deleting the inventory')
                            window.location.reload()
                    }
                }
            })
        }

        </script>
</body>
</html>
    